.light-theme{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

h1 {
  margin: 10px;
}

.header {
  background-color: #192a56;
  color: white;
  padding: 14px;
  width: 98%;
}

.form {
  margin-top: 25px;
}

.formdata {
  margin-top: 50px;
  display: flex;
  align-items: center;
  
  flex-direction: column;
  
  /* border: 1px solid #ccc; */
}

.formgroup {
  display: flex;
  justify-content: space-around;
  width: 90%;
  /* border: 1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px;
  align-items: center;
}
.bright{
  position: fixed;
  right: 37px;
}